body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color:#f2f2f2;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 73px;

  list-style: none;
}

.site-navigation li {
  width: 218px;
}

.site-navigation li:first-child {
  margin-right: 22px;
}

.site-navigation li:nth-child(3) {
  width: 140px;
}

.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation li:last-child {
  margin-left: 22px;

  text-align: right;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation .site-navigation-current {
  color: #766357;
}

a.site-navigation-current:hover,
a.site-navigation-current:focus,
a.site-navigation-current:active {
  color: #766357;
}

.description {
  height: 509px;
  padding-top: 76px;
  padding-bottom: 80px;

  text-align: center;

  background-color: #dfeef5;
  background-image: url("../img/background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.reasons-title {
  margin-top: 62px;
  margin-bottom: 31px;
  padding:0;


  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
}

.reasons-text {
  margin: 0;
  margin-bottom: 51px;
  padding: 0;

  line-height: 26px;
  text-align: center;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.first-reason {
  display: flex;
  align-items: center;

  background-color: #81b3d2;
  color: #ffffff;
}

.second-reason {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  background-color: #81b3d2;
  color: #ffffff;
}

.main-reason-wrapper {
  width: 400px;
}

.reasons-item-image {
  width: 800px;
}

.reasons-item-title {
  font-size: 21px;
  font-weight: 700;
  text-align: center;
}

.reasons-item-number,
.reasons-item-text {
  text-align: center;
}

.secondary-reason {
  width: 400px;
  padding-top: 50px;
  padding-bottom: 61px;

  background-color: #eeeeee;
}

.secondary-reason .reasons-item-title {
  color: #000000;
}

.opportunities-list {
  display: flex;
  margin: 0;
  padding: 61px 0 85px;

  list-style: none;
}

.opportunities-item {
  width: 400px;

  text-align: center;
}

.opportunities-item h3 {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.hotel-search {
  text-align: center;
}

.hotel-search-title {
  margin-top: 55px;
  margin-bottom: 30px;
  padding: 0;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.hotel-search-text {
  margin: 0;
  margin-bottom: 49px;
  padding: 0;

  line-height: 24px;
}

.hotel-search a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;

  background-color: #766357;
}

.hotel-search a:hover,
.hotel-search a:focus {
  background-color: #604e43;
}

.hotel-search a:active {
 color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.search-option {
  line-height: 26px;
  font-weight: 700;
}

.search-option input {
  font: inherit;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.search-option input:hover {
  background-color: #ebebeb;
}

.search-option input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.search-option label {
  color: #000000;
}

.calendar svg {
  fill: #cacaca;
}

.calendar:hover svg,
.calendar:focus svg {
  fill: #000000;
}

.calendar:active svg{
  fill: #81b3d2;
}

.minus,
.plus {
  color: #a9a9a9;
}

.minus:hover,
.minus:focus,
.plus:hover,
.plus:focus {
  color: #000000;
}

.minus:active,
.plus:active {
  color: #81b3d2;
}

.find-button {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #81b3d2;
  border: none;
}

.find-button:hover,
.find-button:focus {
  background-color: #669ec0;
}

.find-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.main-footer {
  display: flex;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.9);
}

.footer-hashtag {
  width: 400px;
  margin: 0;
  padding: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;

  color: #000000;
}

.footer-contacts {
  width: 400px;
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: center;
}

.footer-copyright {
  width: 400px;
  margin: 0;
  padding: 0;

  line-height: 26px;
  color: #000000;
  text-align: center;
}

.copyright-link svg {
  fill: #231f20;
}

.copyright-link:hover svg,
.copyright-link:focus svg {
  fill: #81b3d2;
}

.copyright-link:active svg {
  fill: #bdbbbc;
}

.filter {
  padding: 30px 73px 31px;

  color: #ffffff;

  background-color: #736766;
  background-image: url("../img/filter-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.filter form {
  display: flex;
  justify-content: space-between;

}

.filter-wrapper {
  display: flex;
}

.filter-wrapper fieldset {
  width: 200px;
}

.filter-wrapper fieldset:not(:last-child) {
  margin-right: 55px;
}

.filter fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filter legend {
  font-size: 16px;
  font-weight: 700;
}

.filter-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #ffffff;
}

.filter-button:hover,
.filter-button:focus {
  color: #000000;

  background-color: #ffffff;
}

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 29px 73px 30px;
}

.sorting-wrapper {
  display: flex;
  align-items: center;
}

.sorting-find {
  margin: 0;
  margin-right: 48px;
  padding: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting-selection {
  margin: 0;
  margin-right: 40px;
  padding: 0;
}

.sorting-selection,
.sorting-item {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sorting-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.sorting-item a {
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #81b3d2;
}

.sorting-item a:hover,
.sorting-item a:focus {
  color: #81b3d2;

}

.sorting-item a:active {
  color: #000000;

  border-bottom: none;
}

.sorting-item-current a{
  color: #81b3d2;

  border-bottom: none;
}

.sorting-item-current a:hover,
.sorting-item-current a:focus,
.sorting-item-current a:active {
  color: #81b3d2;

  border-bottom: none;
}

.arrow {
  color: #cacaca;
}

.arrow:hover,
.arrow:focus {
  color: #000000;
}

.arrow:active {
  color: #81b3d2;
}

.arrow-current {
  color: #81b3d2;
}

.catalog-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item {
  padding: 30px 73px;

  border-bottom: 1px solid #f6f6f6;
}

.catalog-item:first-child {
  border-top: 1px solid #f6f6f6;
}

.catalog-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-title a {
  color: #000000;
}

.catalog-title a:hover,
.catalog-title a:focus{
  color: #81b3d2;
}

.catalog-title a:active{
  color: rgba(0, 0, 0, 0.3);
}

.more-button {
  font-weight: 700;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;

  background-color: #81b3d2;
}

.more-button:hover,
.more-button:focus {
  color: #ffffff;

  background-color: #669ec0;
}

.more-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.book-button {
  font-weight: 700;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;

  background-color: #766357;
}

.book-button:hover,
.book-button:focus {
  background-color: #604e43;
}

.book-button:active {
  background-color: #503e33;

  color: rgba(255, 255, 255, 0.3);
}

.catalog-rating {
  color: #666666;

  background-color: #f2f2f2;
}
